## Bank Note Authentication Dataset
### Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df=pd.read_csv('BankNote_Authentication.csv')

In [5]:

df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [7]:
# dependent variable
y = df['class']
# independent variables
X = df.drop('class', axis=1)

In [8]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [11]:

y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [ ]:
# # Install scikit-learn if not already installed
# %pip install scikit-learn

# Split the dataset into training and testing sets
from sklearn.model_selection import train_test_split  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# importing the necessary libraries for model training random forest classifier
from sklearn.ensemble import RandomForestClassifier
# Create a Random Forest Classifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
# Train the model
rf.fit(X_train, y_train)
# Evaluate the model
accuracy = rf.score(X_test, y_test)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

Model Accuracy: 99.76%

In [15]:
# Save the model using pickle
import pickle

with open('rf_model.pkl', 'wb') as model_file:
    pickle.dump(rf, model_file)

In [16]:
# Load the model
with open('rf_model.pkl', 'rb') as model_file:
    loaded_rf = pickle.load(model_file)

In [17]:
# Predict using the loaded model
predictions = loaded_rf.predict(X_test)
# Display the first 10 predictions
print(predictions[:10])

[0 0 0 0 0 0 0 0 0 0]

In [18]:
# Evaluate the model's performance
from sklearn.metrics import classification_report, confusion_matrix 
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

[[229   0]
 [  1 182]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       229
           1       1.00      0.99      1.00       183

    accuracy                           1.00       412
   macro avg       1.00      1.00      1.00       412
weighted avg       1.00      1.00      1.00       412